@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Slab:700');

$link-color: #bc56d6;

body {
    font-family: "Roboto Slab", serif;
    color: black;
    background-color: #fefefe;
    margin: 0px;
}

a {
    color: $link-color;
}

.leaflet-container {
    height: 250px;
    width: 350px;
    overflow: hidden;
}

.presentation {
    .presentation__title {
        text-align: center;
    }

    .presentation__logo img {
        width: 200px;
    }

    .presentation__container {
        display: flex;

        .presentation__container--left {
            margin: 30px 40px 0px 60px;
            flex-grow: 1;

            ul {
                list-style-type: none;
                padding: 0px;
                
                li {
                    text-align: center;
                    margin-bottom: 0.5em;
                }
            }
        }

        .presentation__container--right {
            margin-left: 40px;
            margin-right: 100px;
            flex-grow: 2;
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column;

            .presentation__container--left {
                margin: 20px auto 0px;
            }

            .presentation__container--right {
                margin-right: 40px;
            }
        }
    }

    .presentation__description {
        li {
            margin-bottom: 0.5em;
        }
    }
}

.eventList {
    h1 {
        text-align: center;
    }

    .event__link {
        font-weight: bold;
        font-size: 115%;
        text-align: center;
        padding-bottom: 0.5em;
    }
}

.event {
    .event__title {
        text-align: center;
    }

    .event__tags {
        text-align: center;
        font-style: italic;

        @media screen and (max-width: 1000px) {
            margin-bottom: 0.6em;
        }
    }

    .event__container {
        display: flex;

        .event__container--left {
            flex-grow: 1;
            margin: 20px 40px 0px 100px;
        }

        .event__container--right {
            flex-grow: 2;
            margin-left: 40px;
            margin-right: 100px;
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column;

            .event__container--left {
                margin: 0px auto;
            }
        }
    }

    .event__date {
        margin-bottom: 0.6em;
    }

    .event__location--name {
        font-weight: bold;
    }
    
    .event__location--address {
        font-style: italic;
    }
}

.event__conferences {
    text-align: center;

    .conference__summary {
        .conference__summary--title {
            text-align: center;
            margin-bottom: 0.6em;
        }

        .conference__summary--name {
            font-weight: bold;
            font-size: 115%;
        }

        .conference__summary--speaker {
            font-style: italic;
            font-size: 90%;
        }
        
    }
}

.conference {
    margin: 0px 40px 40px;

    .conference__title {
        text-align: center;
    }

    .conference__speaker {
        font-style: italic;
    }

    .conference__description--title {
        font-weight: bold;
    }

    .conference__description--content {
        padding: 15px 30px;
        border: 1px #aaa solid;
        border-radius: 10px;
        background-color: #eee;

    }
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #eee;

    div {
        font-style: italic;
        flex-grow: 1;
        text-align: center;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        padding-bottom: 0px;

        div {
            text-align: center;
            padding-bottom: 1em;
        }
    }
}

div[data-oembed] {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;

    div {
        iframe {
            display: block;
            margin: 0px auto;
            margin-top: 1.6em;
        }

        div {
            text-align: center;
            white-space: nowrap;
            overflow: visible;
        }
    }

    @media screen and (max-width: 1199px) {
        div {
            iframe {
                width: 90%;
                height: 45vw;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        div {
            iframe {
                width: 951px;
                height: 551px;
            }
        }
    }
}

.notFound {
    text-align: center;
}