@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Slab:700');

body {
    font-family: "Roboto Slab", serif;
    color: black;
    background-color: #fefefe;
}

a {
    color: #bc56d6;
}

.leaflet-container {
    height: 250px;
    width: 400px;
    overflow: hidden;
}

.presentation {
    .presentation__logo img {
        width: 200px;
    }
}

.eventList__item__location--name {
    font-weight: bold;
}

.eventList__item__location--address {
    font-style: italic;
}